doctype html
html
    head
        title= title
        meta(name='viewport' content='width=device-width, initial-scale=1.0')
        link(rel='stylesheet', href='stylesheets/style.css')
    body
        block content
    footer
        div eugenode is open source software, you may find more info at the following links 

        a(href='https://github.com/eugeniomiro/eugenode' target='_blank') Eugenode on GitHub

        a(href='https://github.com/eugeniomiro/eugenode/wiki' target='_blank') Eugenode wiki

        a(href='https://portal.azure.com' target='_blank') Azure Portal

        a(href='https://nodejs.org'  target='_blank') Node.js

        a(href='https://www.mongodb.com/cloud/atlas'  target='_blank') Atlas MongoDB